<?xml version="1.0"?>
<opnsense>
  <theme>opnsense</theme>
  <sysctl version="1.0.2" description="System Tunables">
    <item/>
  </sysctl>
  <system>
    <primaryconsole>efi</primaryconsole>
    <optimization>normal</optimization>
    <hostname>OPNsense</hostname>
    <domain>localdomain</domain>
    <dnsallowoverride>1</dnsallowoverride>
    <group>
      <name>admins</name>
      <description>System Administrators</description>
      <scope>system</scope>
      <gid>1999</gid>
      <member>0</member>
      <priv>page-all</priv>
    </group>
    <user>
      <name>root</name>
      <descr>System Administrator</descr>
      <scope>system</scope>
      <groupname>admins</groupname>
      <password>$2y$10$YRVoF4SgskIsrXOvOQjGieB9XqHPRra9R7d80B3BZdbY/j21TwBfS</password>
      <uid>0</uid>
    </user>
    <timezone>Etc/UTC</timezone>
    <timeservers>0.opnsense.pool.ntp.org 1.opnsense.pool.ntp.org 2.opnsense.pool.ntp.org 3.opnsense.pool.ntp.org</timeservers>
    <webgui>
      <protocol>https</protocol>
      <port>443</port>
    </webgui>
    <disablenatreflection>yes</disablenatreflection>
    <usevirtualterminal>1</usevirtualterminal>
    <disableconsolemenu>1</disableconsolemenu>
    <powerd_ac_mode>hadp</powerd_ac_mode>
    <powerd_battery_mode>hadp</powerd_battery_mode>
    <powerd_normal_mode>hadp</powerd_normal_mode>
    <bogons>
      <interval>monthly</interval>
    </bogons>
    <pf_share_forward>1</pf_share_forward>
    <lb_use_sticky>1</lb_use_sticky>
    <ssh>
      <group>admins</group>
    </ssh>
    <rrdbackup>-1</rrdbackup>
    <netflowbackup>-1</netflowbackup>
    <firmware version="1.0.1">
      <mirror/>
      <flavour/>
      <plugins/>
      <type/>
      <subscription/>
      <reboot/>
    </firmware>
    <dnsserver></dnsserver>
    <language>en_US</language>
  </system>
  <interfaces>
    <wan>
      <if></if>
      <descr>WAN</descr>
      <enable>1</enable>
      <spoofmac/>
      <ipaddr></ipaddr>
      <subnet></subnet>
      <gateway>WAN_GW</gateway>
    </wan>
    <lan>
      <if></if>
      <descr></descr>
      <enable>1</enable>
      <ipaddr></ipaddr>
      <subnet></subnet>
    </lan>
    <lo0>
      <internal_dynamic>1</internal_dynamic>
      <descr>Loopback</descr>
      <enable>1</enable>
      <if>lo0</if>
      <ipaddr>127.0.0.1</ipaddr>
      <ipaddrv6>::1</ipaddrv6>
      <subnet>8</subnet>
      <subnetv6>128</subnetv6>
      <type>none</type>
      <virtual>1</virtual>
    </lo0>
  </interfaces>
  <dnsmasq version="1.0.8" description="Dnsmasq DNS and DHCP">
    <enable>1</enable>
    <regdhcp>0</regdhcp>
    <regdhcpstatic>0</regdhcpstatic>
    <dhcpfirst>0</dhcpfirst>
    <strict_order>1</strict_order>
    <domain_needed>0</domain_needed>
    <no_private_reverse>0</no_private_reverse>
    <no_resolv>0</no_resolv>
    <log_queries>0</log_queries>
    <no_hosts>0</no_hosts>
    <strictbind>0</strictbind>
    <dnssec>0</dnssec>
    <interface>lan</interface>
    <port>53053</port>
    <dhcp>
      <fqdn>1</fqdn>
      <local>1</local>
      <authoritative>0</authoritative>
      <default_fw_rules>1</default_fw_rules>
      <enable_ra>1</enable_ra>
    </dhcp>
  </dnsmasq>
  <nat>
    <outbound>
      <mode>automatic</mode>
    </outbound>
  </nat>
  <filter>
    <rule>
      <type>pass</type>
      <ipprotocol>inet</ipprotocol>
      <descr>Default allow LAN to any rule</descr>
      <interface>lan</interface>
      <source>
        <network>lan</network>
      </source>
      <destination>
        <any/>
      </destination>
    </rule>
    <rule>
      <type>pass</type>
      <ipprotocol>inet6</ipprotocol>
      <descr>Default allow LAN IPv6 to any rule</descr>
      <interface>lan</interface>
      <source>
        <network>lan</network>
      </source>
      <destination>
        <any/>
      </destination>
    </rule>
  </filter>
  <rrd>
    <enable/>
  </rrd>
  <ntpd>
    <prefer>0.opnsense.pool.ntp.org</prefer>
  </ntpd>
  <revision>
    <username>(system)</username>
    <time></time>
    <description></description>
  </revision>
  <OPNsense>
    <unboundplus version="1.0.13" description="Unbound configuration">
      <general>
        <enabled>1</enabled>
        <port>53</port>
        <dnssec>0</dnssec>
        <regdhcp>1</regdhcp>
        <regdhcpstatic>1</regdhcpstatic>
        <cacheflush>1</cacheflush>
        <local_zone_type>transparent</local_zone_type>
      </general>
      <advanced>
        <logverbosity>1</logverbosity>
      </advanced>
      <acls>
        <default_action>allow</default_action>
      </acls>
      <dots>
      </dots>
    </unboundplus>
    <Gateways version="1.0.0" description="Gateways configuration">
    </Gateways>
    <Kea>
      <dhcp4 version="1.0.4" description="Kea DHCPv4 configuration">
        <general>
          <enabled>0</enabled>
        </general>
      </dhcp4>
    </Kea>
    <Interfaces>
      <settings version="1.0.0" description="Global interface settings">
        <disablechecksumoffloading>1</disablechecksumoffloading>
        <disablesegmentationoffloading>1</disablesegmentationoffloading>
        <disablelargereceiveoffloading>1</disablelargereceiveoffloading>
      </settings>
    </Interfaces>
  </OPNsense>
</opnsense>
